.button-general {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#f9f9f9;
    border-radius:0;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

span, h1, .button-general {
    font-family: Arial, Helvetica, sans-serif;
}

span, .button-general {
    font-size:13px;
}

h1 {
  font-size: 16px;
  color: #2983b4;
}

span, h1, a {
    font-family: Arial, Helvetica, sans-serif;
}

.border-general {
    border:1px solid #dcdcdc;
}

a {
    text-decoration:none;
    font-weight: bold;
    color: #0c257d;
}